{% extends "StaffApp/baseStaff.html" %}

{% block content %}
<div class="container mt-4" style="max-width: 700px;">
    <h3 class="mb-4">Editar Cliente</h3>

    <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" name="nombre" class="form-control" value="{{ cliente.nombre }}" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Apellido</label>
            <input type="text" name="apellido" class="form-control" value="{{ cliente.apellido }}" required>    
        </div>
        <div class="mb-3">
            <label class="form-label">DNI, CUIL o CUIT</label>
            <input type="text" name="dni" class="form-control" value="{{ cliente.dni }}">
        </div>
        <div class="mb-3">
            <label class="form-label">Fecha de Nacimiento</label>
            <input type="date" name="fecha_nacimiento" class="form-control" value="{{cliente.fecha_nacimiento|date:'Y-m-d'}}">
        </div>
        <div class="mb-3">
            <label for="condicion_iva" class="form-label">Condición frente al IVA</label>
            <select id="condicion_iva" name="condicion_iva" class="form-select">
              {% for key, value in cond_choices %}
                <option value="{{ key }}" {% if cliente.condicion_iva == key %}selected{% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
        </div>
        <div>
            <p>Dirección</p>
            <div class="mb-3">
              <label class="form-label">Calle</label>
              <input type="text" name="calle" class="form-control" value="{{ cliente.direccion.calle }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Número</label>
                <input type="text" name="numero" class="form-control" value="{{ cliente.direccion.numero }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Piso</label>
                <input type="text" name="piso" class="form-control" value="{{ cliente.direccion.piso }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Departamento</label>
                <input type="text" name="dpto" class="form-control" value="{{ cliente.direccion.dpto }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Localidad</label>
                <input type="text" name="localidad" class="form-control" value="{{ cliente.direccion.localidad }}"> 
            </div>
            <div class="mb-3">
                <label class="form-label">Provincia</label>
                <input type="text" name="provincia" class="form-control" value="{{ cliente.direccion.provincia }}"> 
            </div>
            <div class="mb-3">
                <label class="form-label">Código Postal</label>
                <input type="text" name="cp" class="form-control" value="{{ cliente.direccion.cp }}">
            </div>
            <div class="mb-3">
                <label class="form-label">Tipo de direccion</label>
                <select name="addtype" id="addtype">
                    {% for tipo in addtype_choices %}
                        <option value="{{ tipo.id }}" {% if tipo == cliente.direccion.tipo %}selected{% endif %}>
                            {{ tipo }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Agenda de contactos telefónicos (doble click para modificar)</label>
            <select name="contactotelcte_pf_sel" id="contactotelcte_pf_sel" class="form-select" size="5">
                {% for tel in telefonos %}
                    <option 
                        value="{{ tel.id }}" 
                        data-numero="{{ tel.numero }}" 
                        data-contacto="{{ tel.contacto }}" 
                        data-descripcion="{{ tel.descripcion }}">
                        {{ tel }}
                    </option>
                {% empty %}
                    <option disabled>No hay teléfonos para mostrar.</option>
                {% endfor %}
            </select>
            <div class="mb-3 d-flex justify-content-end">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregarTelefono">
                    Agregar contacto telefónico
                </button>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Agenda de correos electrónicos (doble click para modificar)</label>
            <select name="contactomailcte_pf_sel" id="contactomailcte_pf_sel" class="form-select" size="5">
                {% for mail in emails %}
                    <option value="{{ mail.id }}"
                        data-mail="{{mail.email}}"
                        data-contacto="{{mail.contacto}}"
                        data-descripcion="{{mail.descripcion}}">
                        {{ mail }} 
                    </option>
                {% empty %}
                    <option disabled>No hay emails registrados.</option>
                {% endfor %}
            </select>
            <div class="mb-3 d-flex justify-content-end">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalAgregarMail">
                    Agregar correo electrónico
                </button>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Notas sobre el cliente</label>
            <textarea name="notas" class="form-control" rows="4">{{ cliente.notas }}</textarea>
        </div>

        <div class="d-flex justify-content-between">
            <a href="{% url 'clientes_main' %}" class="btn btn-secondary">Volver</a>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </form>
</div>


<!-- Modal para agregar contacto telefónico -->
<div class="modal fade" id="modalAgregarTelefono" tabindex="-1" aria-labelledby="modalTelefonoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'telefono_add_cte' cliente.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalTelefonoLabel">Agregar Teléfono</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="numeroTelefono" class="form-label">Número</label>
            <input type="text" class="form-control" id="numeroTelefono" name="numero" required>
          </div>
          <div class="mb-3">
            <label for="contactotel" class="form-label">Contacto</label>
            <input type="text" class="form-control" id="contactoAgregar" name="contactotel" required>
          </div>
          <div class="mb-3">
            <label for="descripcionTelefono" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcionTelefono" name="descripcion">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Teléfono</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para agregar Contacto de Mail -->
<div class="modal fade" id="modalAgregarMail" tabindex="-1" aria-labelledby="modalMailLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'mail_add_cte' cliente.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalMailLabel">Agregar Mail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="email" class="form-label">E-Mail</label>
            <input type="text" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="contactomail" class="form-label">Contacto</label>
            <input type="text" class="form-control" id="contactomail" name="contactomail" required>
          </div>
          <div class="mb-3">
            <label for="descripcionMail" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcionMail" name="descripcionMail">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar Mail</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal de edición de teléfono -->
<div class="modal fade" id="modalEditarTelefono" tabindex="-1" aria-labelledby="modalEditarTelefonoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" id="formEditarTelefono">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarTelefonoLabel">Editar Teléfono</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="telefono_id" id="telefono_id">
          <div class="mb-3">
            <label for="numeroEditar" class="form-label">Número</label>
            <input type="text" class="form-control" id="numeroEditar" name="numero" required>
          </div>
          <div class="mb-3">
            <label for="contactoEditar" class="form-label">Contacto</label>
            <input type="text" class="form-control" id="contactoEditar" name="contacto" required>
          </div>
          <div class="mb-3">
            <label for="descripcionEditar" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcionEditar" name="descripcion">
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          <button type="button" class="btn btn-danger" id="btnEliminarTelefono">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal de edición de mail -->
<div class="modal fade" id="modalEditarMail" tabindex="-1" aria-labelledby="modalEditarMailLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" id="formEditarMail">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="modalEditarMailLabel">Editar E_Mail</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="mail_id" id="mail_id">
          <div class="mb-3">
            <label for="mailEditar" class="form-label">E-Mail</label>
            <input type="text" class="form-control" id="mailEditar" name="mail" required>
          </div>
          <div class="mb-3">
            <label for="contactoMailEditar" class="form-label">Contacto</label>
            <input type="text" class="form-control" id="contactoMailEditar" name="contactomail" required>
          </div>
          <div class="mb-3">
            <label for="descripcionMailEditar" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcionMailEditar" name="descripcionmail">
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          <button type="button" class="btn btn-danger" id="btnEliminarMail">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<input type="hidden" id="cliente_id" value="{{ cliente.id }}">

<script>
document.addEventListener('DOMContentLoaded', function () 
{

    const selecttel = document.getElementById('contactotelcte_pf_sel');
    const modaltel = new bootstrap.Modal(document.getElementById('modalEditarTelefono'));
    const formtel  = document.getElementById('formEditarTelefono');
    const selectmail = document.getElementById('contactomailcte_pf_sel');
    const modalmail = new bootstrap.Modal(document.getElementById('modalEditarMail'));
    const formmail = document.getElementById('formEditarMail');
    console.log('Script cargado correctamente');

    selecttel.addEventListener('dblclick', function () 
    {
      const selectedOptionTel = selecttel.options[selecttel.selectedIndex];
      const telefonoId = selectedOptionTel.value;
      const numerotel = selectedOptionTel.getAttribute('data-numero') || '';
      const contactotel = selectedOptionTel.getAttribute('data-contacto') || '';
      const descripciontel = selectedOptionTel.getAttribute('data-descripcion') || '';

      document.getElementById('telefono_id').value = telefonoId;
      document.getElementById('numeroEditar').value = numerotel;
      document.getElementById('contactoEditar').value = contactotel;
      document.getElementById('descripcionEditar').value = descripciontel;

      const cteId = document.getElementById('cliente_id').value;
      formtel.action = `/staff/clientes/edit/telEdit/${telefonoId}/`; // Ruta que debes tener en tus URLs
      document.getElementById('btnEliminarTelefono').onclick = function () 
      {
        if (confirm('¿Deseas eliminar este contacto telefónico?')) 
        {
          window.location.href = `/staff/clientes/edit/telDelete/${telefonoId}/`; // Ruta que debes tener en tus URLs
        }
      };

      modaltel.show();   
    }); 

    selectmail.addEventListener('dblclick', function () 
    {
      const selectedOptionMail = selectmail.options[selectmail.selectedIndex];
      const mailId = selectedOptionMail.value;
      const mail = selectedOptionMail.getAttribute('data-mail') || '';
      const contactomail = selectedOptionMail.getAttribute('data-contacto') || '';
      const descripcionmail = selectedOptionMail.getAttribute('data-descripcion') || '';

      document.getElementById('mail_id').value = mailId;
      document.getElementById('mailEditar').value = mail;
      document.getElementById('contactoMailEditar').value = contactomail;
      document.getElementById('descripcionMailEditar').value = descripcionmail;


      const cteId = document.getElementById('cliente_id').value;
      formmail.action = `/staff/clientes/edit/mailEdit/${mailId}/`; // Ruta que debes tener en tus URLs
      document.getElementById('btnEliminarMail').onclick = function () 
      {
        if (confirm('¿Deseas eliminar este correo electrónico?')) 
        {
          window.location.href = `/staff/clientes/edit/mailDelete/${mailId}/`; // Ruta que debes tener en tus URLs
        }
      };
      modalmail.show();
    });
});
</script>

{% endblock %}








