{% extends "StaffApp/baseStaff.html" %}

{% load static %}
{% block title %}Dashboard - NovaraRey{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/staff.css' %}">
{% endblock %}
{% block content %}
   
   
   <!-- Heading -->
   <section class="page-section clearfix">
        <div>
            <p class="mb-3">Prueba DASHBOARD</p>   
        </div>
    </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
              <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam vitae magnam natus sit ea voluptates illo quod dolorum, beatae nobis eaque officiis labore id amet. Placeat distinctio tempore voluptates animi. </p>
        </div>
      </div>
    </section>

{% endblock %}